.auth-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: Arial;
}

.auth-card {
  background: #fff;
  padding: 25px;
  width: 90%;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(255, 140, 0, 0.3);
  text-align: center;
}

.auth-card h1 {
  color: orange;
  margin-bottom: 5px;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  border: 2px solid orange;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: orange;
  color: #fff;
  border-radius: 12px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.auth-card button:hover {
  background: #ff7b00;
}

.link {
  margin-top: 15px;
  display: block;
  color: orange;
}

.erro {
  background: #ffdddd;
  padding: 10px;
  border-left: 4px solid red;
  margin-bottom: 10px;
}
